.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-product-1 {
  min-height: 672px;
  margin: 52px auto 52px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  height: 540px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 586px;
  height: auto;
  background-image: none;
  margin: -514px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 26px 18px 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  color: rgb(239, 206, 74) !important;
  margin: 9px auto 0 72px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(239, 206, 74) !important;
  margin: -64px auto 0 144px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(239, 206, 74) !important;
  margin: -64px 205px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  color: rgb(239, 206, 74) !important;
  margin: -64px 136px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  color: rgb(239, 206, 74) !important;
  margin: -64px 67px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 18px 0 0 40px;
}

.u-section-1 .u-text-3 {
  margin: 91px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 18px auto 0;
  padding: 10px 38px 10px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-product-1 {
    min-height: 481px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 440px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -414px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-1 .u-product-1 {
    min-height: 1079px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 330px;
    height: 330px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -304px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-product-1 {
    min-height: 1032px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -234px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-1 .u-product-1 {
    min-height: 821px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 160px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    margin-top: -134px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 86px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 128px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}